<div class="grid text-layout">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div class="text-center">
                    <h1>Productos</h1>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col-12" >
                    <div class="flex justify-content-between flex-wrap">
                        <button pButton pRipple type="button" class="p-button-success" label="Nuevo" icon="pi pi-plus"></button>
                        <div class="">
                            <input type="text" pInputText placeholder="Buscar"> 
                            <button pButton pRipple type="button" icon="pi pi-search"></button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    
                </div>
            </div>
        </p-card>
    </div>
</div>