/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    background-color: var(--surface-300);
    font-family:  var(--font-family);
}

.text-layout{
    color: var(--text-color);
}
.p-card{
    box-shadow: none !important;
}